<h1>
 Codeial / <%= title %>
 </h1>

 <setion id="feed-posts">
        <h4>Posts</h4>
        <form action="" id="new-post-form" method="post">
            <!--from model get content and no need to get user-->
            <textarea name="content"  cols="30" rows="3" placeholder="Type your thoughts here"></textarea>
            <input type="submit" value="post">
            <!--posting the post with submit-->
        </form>
 </setion>
